<!-- except the variable part  , all the other constant part like  -->
<!-- header and footer is written in layouts.ejs file -->

<!-- in its body section , which is the variable part -->


<h1>Welcome To Codeial / <%= title %> </h1>
<!-- linking home.scss file here -->
<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">

<div id = "home-container">
    
    <!-- section for posts -->
    <section id = "feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
            
            <form action="/posts/create" id = "new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
            </form>

        <% } %>

        <!-- for loop for showing posts on screen -->
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    
                <!-- we have written the code in _post.ejs , which is working as a partial here -->
                <!-- we just include it here -->
                <%- include('_post') -%>
            
                <%} %>
            </ul>
        </div>
    </section>


    <!-- display list of all users -->
    <section id = "user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){%> 
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>

    

    <!-- include chat box -->
    <section>
        <div>
            <%- include('_chat_box') -%>
        </div>
    </section>
</div>


<!-- importing this script for creating the comments -->
<script src="<%= assetPath('js/home_post_comments.js') %>" ></script>
<!-- including the script home_posts.js -->
<script src="<%= assetPath('js/home_posts.js') %>"></script>



<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>



<!-- include the link for socket.io here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>

<!-- connect to chat box only if user is logged in -->
<!-- initialize the class from chat_engine.js -->
<% if (locals.user) { %>
<script>
    new ChatEngine('user-chat-box' , '<%= locals.user.email %>')
</script>
<% } %>
