<!-- only variable part stays here , other constants parts like -->
<!-- header and footerare in the layout.ejs -->

<link rel="stylesheet" href="/css/user_profile.css">
<h1>Welcome to profile page of User!</h1>


<!-- <p><%= user.name %></p>
<p><%= user.email%></p> -->



<!-- check that if user matches then show updation form -->
<% if(user.id == profile_user.id){%>
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name = "name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name = "email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="submit" value="Update">
    </form>

<%}else{%>
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email%></p>
<% } %>